---
import Overview from './overview.astro';
import Speakers from './speakers.astro';

import Container from '../container.astro';
---

<Overview />
<Speakers />
<Container>
    <div class="mx-auto">

        <img src="./banners/conference_banner.png" alt="" class="w-full flex">
  </div>
  <div class="mx-auto">

    <img src="./banners/agenda.png" alt="" class="w-full flex">
</div>

</Container>
