---
import Overview from './overview.astro';
import Speakers from './speakers.astro';
import { Image } from '@astrojs/image/components';
import Container from '../container.astro';
import conference_banner from '../../../public/banners/conference_banner.webp'
import agenda from '../../../public/banners/agenda.webp'
---

<Overview />
<Speakers />
<Container>
    <div class="mx-auto">

        <img src="/banners/conference_banner.webp" alt="" class="w-full flex">
  </div>
  <div class="mx-auto">

    <img src="/banners/agenda.webp" alt="" class="w-full flex">
</div>

</Container>
