---
import { Image } from '@astrojs/image/components';
---
<div class="sm:px-6 lg:px-20">
  <div class="text-3xl font-semibold tracking-tight sm:text-5xl font-openSans text-black my-20">Venue</div>
    <div class="flex ">
        
        <Image src="/images/hilton.webp" alt="" width={1500} aspectRatio={16/9} class="w-1/2 h-auto"/>
        <div class="mx-10 my-15 ">
            <p class="text-xl mt-20 font-semibold text-indigo-800">Sydney - Friday 25, August</p>
            <div class="text-3xl mt-5 font-semibold text-gray-700">Hilton Sydney</div>
            <p class="text-xl mt-5 font-semibold text-gray-500">488 George St, Sydney NSW 2000</p>
        </div>
    

    </div>
  </div>
</div>
