---

---
<div class="sm:px-6 lg:px-20">
  <div class="text-3xl font-semibold tracking-tight sm:text-5xl font-openSans text-black my-20">Venue</div>
    <div class="lg:flex sm:relative">
        
        <img src="/images/sydney.webp" alt="" width={1500} class="sm:mx-10 lg:w-1/2 h-auto"/>
        <div class="mx-10 my-15 ">
          <p class="lg:text-xl sm: text:sm mt-20 font-semibold text-indigo-800">Sydney - Friday 25, August</p>
          <div class="lg:text-3xl sm:text-xlmt-5 font-semibold text-gray-700">Hilton Sydney</div>
          <p class="lg:text-xl sm: text:sm mt-5 font-semibold text-gray-500">488 George St, Sydney NSW 2000</p>
          <div class="sm:mt-20 mt-10 mx-auto">
            <a href="https://www.tickettailor.com/events/dataengbytes/859971?" target="_blank" color="white" class="font-openSans lg:my-auto lg:h-12 px-3 py-2 sm:px-6 sm:py-5 text-lg bg-black text-white hover:bg-slate-400 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900">Register Now</a>
          </div>
        </div>
    </div>
  </div>
</div>
