/* ==========================================================================
Color variables
========================================================================== */



$primary: #6c63ff;
$secondary: #444F60;
$accent: #00efb7;

$fade-grey: #ededed;

$blue-grey: #444F60;
$muted-grey: #999;
$light-blue-grey: #98a9c3;
$basaltic-grey: $grey-dark;
$purple: #7F00FF;
$mint: #11FFBD;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #004e92;
$dark-grey: #24305E;
$border-grey: #ccc;
// $section-feature-light-grey: #F8E9A1


$white: #ededed;
$smoke-white: #444F60;
$grey-white: #444F60;

// Vibrant
// $section-blue: #24305E;
// $section-yellow: #F0C738;
// $light-grey: #F76C6C;
// $section-grey: #A8D0E6;
// $section-feature-light-grey: #374785;


// corporate
// $section-blue: #265077;
// $section-yellow: #2D5F5D;
// $light-grey: #494B68;
// $section-grey: #1E4258;
// $section-feature-light-grey: #022140;

// VINBRANT 2
$section-blue: #ededed;
$section-yellow: #ededed;
$light-grey: #ededed;
$section-grey: #ededed;
$section-feature-light-grey: #ededed;



//  Flat Design Colors
// $section-blue: #77A6F7;
// $section-yellow: #FFFFFF;
// $light-grey: #D3E3FC;
// $section-grey: #FFCCBC;
// $section-feature-light-grey: #00887A;


// Snowy Yet Warm


// Cheerful and Energetic
// $section-blue: #FBE8A6;
// $section-yellow: #F4976C;
// $light-grey: #303C6C;
// $section-grey: #B4DFE5;
// $section-feature-light-grey: #D2FDFF;



$muted-grey: #444F60;
$title-grey: #444F60;
$medium-grey: #444F60;
$placeholder: #444F60;

