/* ==========================================================================
Hero styles
========================================================================== */

.hero-body {
    background-color: $light-grey;
    padding-top: 6rem;
    padding-bottom: 6rem;
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;
    }
    .title {
        @media (max-width: 840px) {
            font-size: 2rem !important;
        }
        @media (max-width: 1200px) {
            font-size: 2.5rem;
        }
        &.is-bold {
            font-weight: 700;
        }
    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

.hero-foot {
    img.partner-logo {
        height: 70px;
    }
}
