---
import Venue from '../../components/conference/brisbane-venue.astro'
import Speaker from '../../components/conference/speakers.astro'
import Sessions from '../../components/conference/session.astro'
import Container from '../../components/container.astro';
import Layout from '../../layouts/layout.astro';
const apiUrl= "https://sessionize.com/api/v2/bz5r6x7s/view/All"

---
<Layout title="Brisbane Data Engineering Conference" description="Bribane Conference Details">
    <Container>
            <Venue />
            <Speaker apiUrl={apiUrl}/>
            <Sessions apiUrl={apiUrl}/>
        </div>
    </Container>
</Layout>