---
import Venue from '../../components/conference/venue.astro'
import Speaker from '../../components/conference/speakers.astro'
import Sessions from '../../components/conference/session.astro'
import Layout from '../../layouts/layout.astro';
const apiUrl= "https://sessionize.com/api/v2/bz5r6x7s/view/All"
const details = {
  city: "Brisbane",
  image: "/images/brisbane.webp",
  day: "Tuesday",
  date: "29th August",
  venue: "Brisbane Convention & Exhibition Centre",
  address: "Glenelg St, South Brisbane QLD 4101",
  url: "https://www.tickettailor.com/events/dataengbytes/859970" 
}
---
<Layout title="Brisbane Data Engineering Conference" description="Bribane Conference Details">
    <div>
        <Venue {details}/>
        <Speaker apiUrl={apiUrl}/>
        <Sessions apiUrl={apiUrl}/>
        <img src="/banners/speakers.webp" alt="Our international speakers" class="w-full flex " />
        <img src="/banners/org-brisbane.webp" alt="Our volunteers" class="w-full flex " />
        <img src="/banners/org-core-team.webp" alt="Our core team of oganisers" class="w-full flex " />   
    </div>
</Layout>