---
import Venue from '../../components/conference/melbourne-venue.astro'
import Speaker from '../../components/conference/speakers.astro'
import Sessions from '../../components/conference/session.astro'
import Container from '../../components/container.astro';
import Layout from '../../layouts/layout.astro';
const apiUrl= "https://sessionize.com/api/v2/2gv8oeqy/view/All"

---
<Layout  title="Melbourne Data Engineering Conference" description="Melbourne Conference Details">
    <Container>
        <div>
            <Venue/>
            <img src="/banners/speakers.webp" alt="Our international speakers" class="w-full flex " />
            <Speaker apiUrl={apiUrl}/>
            <Sessions apiUrl={apiUrl}/>
            <img src="/banners/org-melbourne.webp" alt="Our volunteers" class="w-full flex " />
            <img src="/banners/org-core-team.webp" alt="Our core team of oganisers" class="w-full flex " />   
        </div>
    </Container>
</Layout>