---
import Session from '../../components/conference/melbourne/sessions.astro'
import Speakers from '../../components/conference/melbourne/speakers.astro';
import Container from '../../components/container.astro';
import Layout from '../../layouts/layout.astro';
---
<Layout>
    <Container>

            <Speakers />
            <Session/>
            
        </div>
    </Container>
</Layout>