---
import Venue from '../../components/conference/perth-venue.astro'
import Speaker from '../../components/conference/speakers.astro'
import Sessions from '../../components/conference/session.astro'
import Container from '../../components/container.astro';
import Layout from '../../layouts/layout.astro';
const apiUrl= "https://sessionize.com/api/v2/v0s39pyi/view/All"

---
<Layout  title="Perth" description="Perth Conference Details">
    <Container>
            <Venue />
            <Speaker apiUrl={apiUrl}/>
            <Sessions apiUrl={apiUrl}/>
        </div>
    </Container>
</Layout>