---
import Session from '../../components/conference/sydney/index.astro'
import Container from '../../components/container.astro';
import Layout from '../../layouts/layout.astro';
---
<Layout>
    <Container>
        <div class="mt-20 sm:px-6 lg:px-20">
            <Session/>
        </div>
    </Container>
</Layout>