---
import Venue from '../../components/conference/sydney-venue.astro'
import Speaker from '../../components/conference/speakers.astro'
import Sessions from '../../components/conference/session.astro'
import Container from '../../components/container.astro';
import Layout from '../../layouts/layout.astro';
const apiUrl="https://sessionize.com/api/v2/xvrqdvp3/view/All";

---
<Layout  title="Sydney Data Engineering Conference" description="Sydney Conference Details">
    <Container>
        <div>
            <Venue/>
            <Speaker apiUrl={apiUrl}/>
            <Sessions apiUrl={apiUrl}/>
            <img src="/banners/speakers.webp" alt="Our international speakers" class="w-full flex " />
            <img src="/banners/org-sydney.webp" alt="Our volunteers" class="w-full flex " />
            <img src="/banners/org-core-team.webp" alt="Our core team of oganisers" class="w-full flex " />        
        </div>
    </Container>
</Layout>