---

import Speaker from '../../components/conference/sydney/speakers.astro'
import Sessions from '../../components/conference/sydney/sessions.astro'
import Container from '../../components/container.astro';
import Layout from '../../layouts/layout.astro';
---
<Layout>
    <Container>
        
            <Speaker/>
            <Sessions/>
        </div>
    </Container>
</Layout>