---
import { Image } from "@astrojs/image/components";
import getinvolved from '../../../public/meetup/getinvolved.webp'
---
<div class="mx-auto sm:px-6 lg:px-20">
     <div class="text-3xl font-semibold tracking-tight sm:text-5xl font-openSans text-black my-20">Join Us</div>
    <a href="https://www.meetup.com/perth-data-engineering-meetup/events/294175386/">
        <Image src={getinvolved} alt="" class="w-full flex">
    </a>
    
</div>