---
import Speak from './speak.astro';
import Host from './host.astro';
import FAQ from './faq.astro';
import Banners from './banners.astro';
import Container from '../container.astro';
---

<Speak />
<Host />
<FAQ />
<Container>
    <div class="mx-auto">
        <a href="https://www.meetup.com/perth-data-engineering-meetup/events/294175386/">
        <img src="./banners/perth_meetup.png" alt="" class="w-full flex">
    </a>
  </div>
</Container>
