---
import Layout from '../../layouts/layout.astro';
import axios from 'axios';
// const gaToken = import.meta.env.NEXT_PUBLIC_GOOGLE_ANALYTICS || '';
const apiGW = import.meta.env.DATAENGAU_API_GW + '/speaker';
console.log('apiGW: ',apiGW);
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const firstName = data.get("first-name");
    const lastName = data.get("last-name");
    const jobTitle = data.get("job-title");
    const company = data.get("company");
    const email = data.get("email");
    const meetUp = data.get("meetup");
    const talkSummary = data.get("talk-summary");
    const bio = data.get("biography");
    axios.post(apiGW, {
      firstName,
      lastName,
      jobTitle,
      company,
      email,
      meetUp,
      talkSummary,
      bio
    }).then(function (response): void {
    console.log(response);
    }).catch(function (error): void {
      console.log(error);
    });
    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
const meetupTalkDesc = {
  title: "Submit a meetup talk",
  description: "Take the next step in your career and put forward a talk to share what you've learnt. It's a fantastic way for you to get recognised!"
}
---

<Layout title="Submit a talk to the Data Engineering meetup"
	description="Grow your career by sharing your knowledge with the community. Submit a talk to the Data Engineering meetup."
    image="/banners/venues.webp"
	>
	
    
  <div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
      <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{meetupTalkDesc.title}</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">{meetupTalkDesc.description}</p>
    </div>
    <form method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div>
          <label for="first-name" class="block text-sm font-semibold leading-6 text-gray-900">First name</label>
          <div class="mt-2.5">
            <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <label for="last-name" class="block text-sm font-semibold leading-6 text-gray-900">Last name</label>
          <div class="mt-2.5">
            <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="job-title" class="block text-sm font-semibold leading-6 text-gray-900">Job Title</label>
          <div class="mt-2.5">
            <input type="text" name="job-title" id="job-title" autocomplete="job-title" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="company" class="block text-sm font-semibold leading-6 text-gray-900">Company</label>
          <div class="mt-2.5">
            <input type="text" name="company" id="company" autocomplete="organization" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-semibold leading-6 text-gray-900">Email</label>
          <div class="mt-2.5">
            <input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="meetup" class="sr-only">Meetup</label>
          <select id="meetup" name="meetup" class="h-full rounded-md border-0 bg-transparent bg-none py-0 pl-4 pr-9 text-gray-900 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
            <option>Auckland data eng meetup</option>
            <option>Brisbane data eng meetup</option>
            <option>Hobart data eng meetup</option>
            <option>Melbourne data eng meetup</option>
            <option>Perth data eng meetup</option>
            <option>Sydney data eng meetup</option>
            <option>Sydney serverless meetup</option>
          </select>
        </div>
        <div class="sm:col-span-2">
          <label for="talk-summary" class="block text-sm font-semibold leading-6 text-gray-900">Talk summary</label>
          <div class="mt-2.5">
            <textarea name="talk-summary" id="talk-summary" 
            placeholder="Please provide a brief summary of your talk"
            rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="biography" class="block text-sm font-semibold leading-6 text-gray-900">Biography</label>
          <div class="mt-2.5">
            <textarea name="biography" id="biography" 
            placeholder="Tell us a few words about yourself"
            rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
          </div>
        </div>
        <div class="flex gap-x-4 sm:col-span-2">
          <div class="flex h-6 items-center">
            <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
            <button type="button" class="bg-indigo-600 flex w-8 flex-none cursor-pointer rounded-full p-px ring-1 ring-inset ring-gray-900/5 transition-colors duration-200 ease-in-out focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" role="switch" aria-checked="false" aria-labelledby="switch-1-label">
              <span class="sr-only">Agree to policies</span>
              <!-- Enabled: "translate-x-3.5", Not Enabled: "translate-x-0" -->
              <span aria-hidden="true" class="translate-x-3.5 h-4 w-4 transform rounded-full bg-white shadow-sm ring-1 ring-gray-900/5 transition duration-200 ease-in-out"></span>
            </button>
          </div>
          <label class="text-sm leading-6 text-gray-600" id="switch-1-label">
            By selecting this, you agree to our
            <a class="font-semibold text-indigo-600">privacy&nbsp;policy</a>.
          </label>
        </div>
      </div>
      <div class="mt-10">
        <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit Talk</button>
      </div>
    </form>
  </div>
</Layout>
  