---
import Layout from '../layouts/layout.astro';
import Container from '../components/container.astro';
// import Sponsors from '../components/sponsors/index.astro';


import sponsor_banner from '../../public/banners/sponsors_banner.webp'
---

<Layout title="Sponsor DataEngBytes."
    description="Connect with the brightest data engineers this year!"
    >
    <Container>
        <div>
            <img src="/banners/sponsors_banner.webp" alt=""  />
        </div>
    </Container>
    <!-- <Sponsors /> -->
</Layout>