---
import Layout from '../../layouts/layout.astro';
import Container from '../container.astro';
---

  <Container>
    <div class="mx-auto max-w-10">
      <a href="https://www.tickettailor.com/events/dataengbytes">
          <img src="/tickets/tickets.webp" alt="tickets" class="w-full flex">
      </a>
      <a href="https://www.tickettailor.com/events/dataengbytes/859973?" target="_blank">
          <img src="/tickets/perth.webp" alt="perth_tickets" class="w-full flex">
      </a>
      <a href="https://www.tickettailor.com/events/dataengbytes/859971?" target="_blank">
          <img src="/tickets/sydney.webp" alt="sydney_tickets" class="w-full flex">
      </a>
      <a href="https://www.tickettailor.com/events/dataengbytes/859970?" target="_blank">
          <img src="/tickets/brisbane.webp" alt="brisbane_tickets" class="w-full flex">
      </a>
      <a href="https://www.tickettailor.com/events/dataengbytes/859972?" target="_blank">
          <img src="/tickets/melbourne.webp" alt="melbourne_tickets" class="w-full flex">
      </a>
    </div>
  </Container>
