---
import HowTo from './how-to.astro';
import Single from './single.astro';
import Bulk from './bulk.astro';
import Container from '../container.astro';
---

<Container>
    <div class="mx-auto">
        <a href="https://www.tickettailor.com/events/dataengbytes">
        <img src="./banners/special_price.png" alt="" class="w-full flex">
    </a>
  </div>
  <div class="mx-auto">
    <a href="https://www.tickettailor.com/events/dataengbytes">
    <img src="./banners/load_balancer_tickets.png" alt="" class="w-full flex"></a>
</div>
</Container>
