---
const speakerHighlights = [
  {
    name: "Abhinav Goyal",
    image: "/speakers/abhinav-goyal.webp",
  },
  {
    name: "Alexei De Lauw",
    image: "/speakers/alexei-de-lauw.webp",
  },
  {
    name: "Chad Sanderson",
    image: "/speakers/chad-sanderson.webp",
  },
  {
    name: "Danica Fine",
    image: "/speakers/danica-fine.webp",
  },
  {
    name: "Emily Melhuish",
    image: "/speakers/emily-melhuish.webp",
  },
  {
    name: "Joe Reis",
    image: "/speakers/joe-reis.webp",
  },
  {
    name: "Josh Devlin",
    image: "/speakers/josh-devlin.webp",
  },
  {
    name: "Larene Le Gassick",
    image: "/speakers/larene-le-gassick.webp",
  },
  {
    name: "Lizzie Macneill",
    image: "/speakers/lizzie-macneill.webp",
  },
  {
    name: "Mikiko Bazeley",
    image: "/speakers/mikiko-bazeley.webp",
  },
  {
    name: "Mimoune Djouallah",
    image: "/speakers/mimoune-djouallah.webp",
  },
  {
    name: "Nadia Reyhani",
    image: "/speakers/nadia-reyhani.webp",
  },
  {
    name: "Nathan Glover",
    image: "/speakers/nathan-glover.webp",
  },
]
---

<div class="carousel rounded-box">
  {speakerHighlights.map((speaker) => {
    return (
      <div class="carousel-item	">
        <img class="object-cover h-96 w-72" src={speaker.image} alt={speaker.name} />
      </div>
    )
  })}