<div class="carousel rounded-box">
    <div class="carousel-item">
      <img src="https://sessionize.com/image/7da8-400o400o2-RMwMDU4Tes2gxt1zvoApHt.jpeg" alt="Akanksha Malik" />
    </div> 
    <div class="carousel-item">
      <img src="https://sessionize.com/image/b09f-400o400o2-HXEJCqY3Z5x442yWBeHx3U.png" alt="Danica Fine" />
    </div> 
    <div class="carousel-item">
      <img src="https://sessionize.com/image/36e8-400o400o2-R4Ro5rustZjDUxSCdb3Xkp.jpg" alt="Kanishka Mohaia" />
    </div> 
    <div class="carousel-item">
      <img src="https://sessionize.com/image/6e5f-400o400o2-nK2szwDEu6aHMnxMkmTrWV.png" alt="Patrick Cuba" />
    </div> 
    <div class="carousel-item">
      <img src="https://sessionize.com/image/6842-400o400o2-XQVqGapNcSxvy1b4L6B9WN.jpg" alt="Ryan Boyd" />
    </div> 
    <div class="carousel-item">
      <img src="https://sessionize.com/image/df01-400o400o2-pEcRukxL1N8AD7UkHfWDyn.png" alt="Yash Sharma" />
    </div> 
    <div class="carousel-item">
      <img src="https://sessionize.com/image/d63c-400o400o2-NWDCbHbzPwpNT2CD1LsJY3.jpeg" alt="Vinny Vijeyakumaar" />
    </div>
  </div>