---
const speakerHighlights = [
  {
    name: "Abhinav Goyal",
    image: "/speakers/abhinav-goyal.jpg",
  },
  {
    name: "Alexei De Lauw",
    image: "/speakers/alexei-de-lauw.jpg",
  },
  {
    name: "Danica Fine",
    image: "/speakers/danica-fine.png",
  },
  {
    name: "Emily Melhuish",
    image: "/speakers/emily-melhuish.jpg",
  },
  {
    name: "Joe Reis",
    image: "/speakers/joe-reis.png",
  },
  {
    name: "Josh Devlin",
    image: "/speakers/josh-devlin.jpg",
  },
  {
    name: "Larene Le Gassick",
    image: "/speakers/larene-le-gassick.jpg",
  },
  {
    name: "Lizzie Macneill",
    image: "/speakers/lizzie-macneill.jpg",
  },
  {
    name: "Mikiko Bazeley",
    image: "/speakers/mikiko-bazeley.jpeg",
  },
  {
    name: "Mimoune Djouallah",
    image: "/speakers/mimoune-djouallah.jpeg",
  },
  {
    name: "Nadia Reyhani",
    image: "/speakers/nadia-reyhani.JPG",
  },
  {
    name: "Nathan Glover",
    image: "/speakers/nathan-glover.jpg",
  },
]
---

<div class="carousel rounded-box">
  {speakerHighlights.map((speaker) => {
    return (
      <div class="carousel-item	">
        <img class=" mx-auto max-h-96" src={speaker.image} alt={speaker.name} />
      </div>
    )
  })}