---

// import MCBanner from '../../../public/mc.webp'
// import whyattend from '../../../public/home/whyattend.webp'
// import moreimages from '../../../public/home/moreimages.webp'
// import experience from '../../../public/home/experience.webp'
---
<div class="mx-auto">
    <img src="/home/mc.webp" alt="mcbanner" class="w-full flex"/>
    <img src="/home/whyattend.webp" alt="whyattend" class="w-full flex"/>
    <img src="/home/moreimages.webp" alt="moreimages" class="w-full flex"/>
    <img src="/home/experience.webp" alt="experience" class="w-full flex"/>
</div>



