---
import { Image, Picture } from '@astrojs/image/components';

import MCBanner from '../../../public/mc.webp'
import whyattend from '../../../public/home/whyattend.webp'
import moreimages from '../../../public/home/moreimages.webp'
import experience from '../../../public/home/experience.webp'
---
<div class="mx-auto">
    <Image src={MCBanner} alt="mcbanner" class="w-full flex"/>
    <Image src={whyattend} alt="experience" class="w-full flex"/>
    <Image src={moreimages} alt="experience" class="w-full flex"/>
    <Image src={experience} alt="experience" class="w-full flex"/>
</div>



