---

---
<div class="place-content-center	">
<div class="flex gap-5">
    <div>
      <span class="countdown font-mono text-8xl">
        <span style="--value:;"><p id="days"/></span>
      </span>
      days
    </div> 
    <div>
      <span class="countdown font-mono text-8xl">
        <span style="--value:"+hours+";"></span>
      </span>
      hours
    </div> 
    <div>
      <span class="countdown font-mono text-8xl">
        <span style="--value:24;"></span>
      </span>
      min
    </div> 
    <div>
      <span class="countdown font-mono text-8xl">
        <span style="--value:13;"></span>
      </span>
      sec
    </div>
  </div>
</div>