---

---
<div class="grid grid-cols-2 gap-4">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meetups</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">Connect with fellow data engineers at our monthy events</p>
  </div>
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">Conference</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600">Ensure you are plugged into the latest developments in the field at our annual event!</p>
  </div>
</div>