---

import coreteam from '../../../public/banners/org-core-team.webp';
import volunteers from '../../../public/banners/org-volunteers.webp';


---


<div class="mx-auto">

    <img src="/banners/org-volunteers.webp" alt="" class="w-full flex " />
    <img src="/banners/org-core-team.webp" alt="" class="w-full flex " />
</div>


