---
export interface Props {

products: Array<object>;
}
const products = [
    {
        name: 'Meetups',
        link: '/meetup',
        description: 'Free Sessions that bring together industry thought-leaders to discuss, share and showcase',
        active: true,
        svg: "M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"
    },
    {
        name: 'Conferences',
        link: '/conference/sydney',
        description: 'The annual one-day immersive experience across four cities where Data people learn and grow',
        active: false,
        svg: "M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"
    },
    {
        name: 'Videos',
        link: 'https://www.youtube.com/dataengau',
        description: 'The on-demand video platform for continual data learning and exclusive content',
        active: false,
        svg: "M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z"
    }
]
---

<div class="bg-white py-24 sm:py-32 bg-gradient-to-r from-red-800 to-blue-900">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
        {
            products.map(product => {
                return (
                <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                    <a
                    href={product.link}
                    >   
                        <div class="grid place-items-center items-center justify-center">
                            <svg class="h-32 w-32 " fill="none" stroke-width="1.5" stroke="white" viewBox="0 0 24 24" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d={product.svg} />
                            </svg>
                        </div>
                        <dd class="order-first text-3xl font-semibold tracking-tight sm:text-5xl font-openSans text-white">{product.name}</dd>
                        <dt class="text-base leading-7  font-openSans text-white">{product.description}</dt>
                    </a>
                </div>
                )
            })
        }
      </dl>
    </div>
  </div>
  