---

import { Image, Picture } from '@astrojs/image/components';
import smschedule from '../../../public/home/smschedule.webp';
import pbschedule from '../../../public/home/pbschedule.webp';

---


<div class="mx-auto">

    <Image src={smschedule} alt="" class="w-full flex " />
    <Image src={pbschedule} alt="" class="w-full flex " />
</div>


