---


// import smschedule from '../../../public/home/smschedule.webp';
// import pbschedule from '../../../public/home/pbschedule.webp';

---


<div class="mx-auto">
    <img src="/home/smschedule.webp" alt="img tag"/>
    <img src="/home/pbschedule.webp" alt="img tag"/>
    <!-- <Image src={smschedule} alt="" class="w-full flex " />
    <Image src={pbschedule} alt="" class="w-full flex " /> -->
</div>


