---
import { Image, Picture } from '@astrojs/image/components';
import speaker from '../../../public/home/intspeakers.webp'
---
<div class="mx-auto">

    <Image src={speaker} alt="speakers" class="w-full flex">
</div>