---

import { Image, Picture } from '@astrojs/image/components';
import sponsor from '../../../public/home/sponsors.webp';


---


<div class="mx-auto">

    <Image src={sponsor} alt="" class="w-full flex " />
</div>


