---
import { Image, Picture } from '@astrojs/image/components';
import trust from '../../../public/banners/trust.png'
---

<div class="mx-auto">
    <a href="https://www.tickettailor.com/events/dataengbytes">
    <Image src={trust} alt="" class="w-full flex"></a>
</div>