---
import { Image, Picture } from '@astrojs/image/components';
import venues from '../../../public/static/city.webp'
---

<div class="mx-auto">
    <a href="https://www.tickettailor.com/events/dataengbytes">
    <Image src={venues} alt="" class="w-full flex"></a>
</div>