---
import { Image, Picture } from '@astrojs/image/components';
import venues from '../../../public/static/city.webp'
---

<div class="mx-auto">
    <a href="https://www.tickettailor.com/events/dataengbytes">
    <img src="../../../public/banners/agenda.webp" alt="" class="w-full flex"/></a>
</div>