---
import { Image, Picture } from '@astrojs/image/components';
import venues from '../../../public/banners/venues.png'
---

<div class="mx-auto">
    <a href="https://www.tickettailor.com/events/dataengbytes">
    <Image src={venues} alt="" class="w-full flex"></a>
</div>