---
import { Image } from 'astro:assets'
---

<header
  class="relative flex items-center justify-center text-center sm:py-30 py-40  overflow-hidden"
>
  <div
    class="relative z-30 text-white"
  >
    <h1 class="sm:text-8xl font-openSans font-bold tracking-tight text-white py-10 text-5xl text-center">DataEngBytes 2023</h1>
    <p class="leading-7 font-openSans sm:text-3xl text-base text-white">Run by data engineers, for data engineers</p>
    <div class="sm:mt-20 mt-10 mx-auto">
      <a href="/meetup"   color="white" class="font-openSans lg:my-auto lg:h-12 px-3 py-2 sm:px-6 sm:py-5 text-lg bg-white text-black hover:bg-black hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900">Attend a meetup</a>
    </div>  

  </div>
  
  <video
    autoplay
    loop
    muted
    poster="video-screen.jpg"
    class="absolute z-10 w-auto min-w-full aspect-video max-w-none"
  >
    <source
      class="h-fit"
      src="output-smaller.webm"
      type="video/webm"
    />
    <Image src="../../assets/video-screen.jpg" width={300} height={400} alt="video-screen" />
  </video>
</header>