---
import ClearNav from "../nav/clear-nav.astro";
---

<header
  class="relative flex items-center justify-center text-center aspect-video  overflow-hidden"
>
  <div
    class="relative z-30 p-5 text-white"
  >
    <h1 class="text-8xl font-openSans font-bold tracking-tight text-white-900 sm:text-6xl text-center">DataEngBytes 2023</h1>
    <p class="mt-6 text-2xl font-openSans leading-8 text-white-600">Run by data engineers, for data engineers</p>
    <div class=" mt-20 mx-auto">
      <a href="https://www.tickettailor.com/events/dataengbytes/"   color="white" class="font-openSans my-auto h-12 px-6 py-5 text-lg bg-white text-black hover:bg-black hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900">Register Now</a>
    </div>  

  </div>
  
  <video
    autoplay
    loop
    muted
    poster="video-screen.jpg"
    class="absolute z-10 w-auto min-w-full aspect-video max-w-none"
  >
    <source
      src="output-smaller.webm"
      type="video/webm"
    />
    <img src="video-screen.jpg" title="Your browser does not support the <video> tag" />
  </video>
</header>