---

---
<header
  class="relative flex items-center justify-center h-screen overflow-hidden"
>
  <div
    class="relative z-30 p-5 text-white"
  >

    <h1 class="text-4xl font-bold tracking-tight text-white-900 sm:text-6xl">DataEngBytes</h1>
    <p class="mt-6 text-lg leading-8 text-white-600">Run by data engineers, for data engineers</p>
  </div>
  <video
    autoplay
    loop
    muted
    poster="video-screen.jpg"
    class="absolute z-10 w-auto min-w-full min-h-full max-w-none"
  >
    <source
      src="output-smaller.webm"
      type="video/webm"
    />
    <img src="video-screen.jpg" title="Your browser does not support the <video> tag" />
  </video>
</header>