---

import { Image, Picture } from '@astrojs/image/components';
import joinus from '../../../public/home/joinus.webp';


---


<div class="mx-auto">

    <Image src={joinus} alt="" class="w-full flex " />
</div>


