{{- $cfp   := .Site.Params.cfp }}
{{- $title      := index $cfp "title" }}
{{- $subtitle      := index $cfp "subtitle" }}

<section id="cfp" class="section section-yellow is-medium">
  <div class="container">
      <div class="title-wrapper has-text-centered">
          <h2 class="title is-2">{{ $title }}</h2>
          <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
          <div class="divider is-centered"></div>
          <br/>
          <a class="button cta rounded primary-btn raised" href="https://www.papercall.io/dataengconfau">
            Call for Papers
          </a>
      </div>
  </div>
</section>