{{- $codeconduct := .Site.Params.codeconduct }}
{{- $title    := index $codeconduct "title" }}
{{- $subtitle    := index $codeconduct "subtitle" }}
{{- $text    := index $codeconduct "text" }}
{{- $image    := index $codeconduct "image" }}



<section id="codeconduct" class="section section-yellow is-medium">
  <div class="container">
      <div class="title-wrapper has-text-centered">
          <h2 class="title is-2">{{ $title }}</h2>
          <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
          </br>
          <div class="divider is-centered"></div>
          </br>
      </div>
      <div class="columns is-vcentered">
          <div class="column is-5 is-offset-1">
              <figure class="image is-4by3">
                <img src="{{ printf "/images/%s" $image | relURL }}" alt="Description">
              </figure>
            </div>
          <div class="column is-5 ">
              <h4 class="subtitle is-5 strong" style="text-align: center; padding: 20px">{{ $text | markdownify }}</h2>
          </div>
        </div>
  </div>
</section>