{{- $contact := .Site.Params.contact }}
{{- $title    := index $contact "title" }}
{{- $email    := index $contact "email" }}
{{- $socialMedia    := index $contact "socialMedia" }}



<section id="contact" class="section section-light-grey is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">{{ $title }}</h2>
            <br/>
            <a style="color: #6c63ff"class="title is-3" href="{{ printf "mailto:%s?Subject=DataEngConfAU" $email  }}" target="_top">{{ $email }}</a>
            {{- range $socialMedia }}
            <a style="padding:10px;" href="{{ .link }}" target="_top">
                <img class="social-icon" src="{{ printf "/images/social_icons/%s.svg" .social | relURL }}">
            </a>
            {{- end }}
        </div> 
    </div>
  </div>
</section>