{{- $contact := .Site.Params.contact }}
{{- $title    := index $contact "title" }}
{{- $email    := index $contact "email" }}


<section id="contact" class="section section-light-grey is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">{{ $title }}</h2>
            <a style="color: #6c63ff"class="title is-3" href="{{ printf "mailto:%s?Subject=DataEngConf" $email  }}" target="_top">{{ $email }}</a>
            <br/>
        </div> 
    </div>
  </div>
</section>