{{- $location := .Site.Params.location }}
{{- $title    := index $location "title" }}
{{- $subtitle    := index $location "subtitle" }}
{{- $MAPS_API_KEY    := index $location "MAPS_API_KEY" }}
{{- $text    := index $location "text" }}



<section id="location" class="section section-light-grey is-medium">
  <div class="container">
      <div class="title-wrapper has-text-centered">
          <h2 class="title is-2">{{ $title }}</h2>
          <h3 class="subtitle is-5 is-muted" style="margin-bottom: 5px;">{{ $subtitle }}</h3>
          <h4 class="subtitle is-6 is-muted is-centered">{{$text | markdownify}}</h2>
          <div class="divider is-centered"></div>
      </div>
    </br>
    <script>
      var map;
      var service;
      var infowindow;
      function initMap() {
        var sydney = new google.maps.LatLng(-33.867, 151.195);

        infowindow = new google.maps.InfoWindow();

        map = new google.maps.Map(
            document.getElementById('map'), {center: sydney, zoom: 16});

        var request = {
          query: 'Wesley Center Sydney',
          fields: ['name', 'geometry'],
        };
        service = new google.maps.places.PlacesService(map);
        service.findPlaceFromQuery(request, function(results, status) {
          console.log(status)
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
              createMarker(results[i]);
            }

            map.setCenter(results[0].geometry.location);
          }
        });
      }
      function createMarker(place) {
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });
        google.maps.event.addListener(marker, 'click', function() {
          var infowindow = new google.maps.InfoWindow({
            content: '<div><img src="/images/wesley.jpeg" style="height:15vh"></br><b>Wesley Conference Center</b></br>220 Pitt St, Sydney NSW 2000</div>'
          });
          infowindow.open(map, this);
        });
        var infowindow = new google.maps.InfoWindow({
            content: '<div><img src="/images/wesley.jpeg" style="height:15vh"></br><b>Wesley Conference Center</b></br>220 Pitt St, Sydney NSW 2000</div>'
        });
        infowindow.open(map, marker);
      }
    </script>
    <div id="map" style="width:100%; height:50vh;"></div>
    <script src='https://maps.googleapis.com/maps/api/js?key={{ getenv "MAPS_API" }}&libraries=places&callback=initMap' async defer></script>
  </div>
</section>