{{- $organisers := .Site.Params.organisers }}
{{- $title    := index $organisers "title" }}
{{- $subtitle := index $organisers "subtitle" }}
{{- $first_column    := index $organisers "first_column" }}
{{- $second_column   := index $organisers "second_column" }}
{{- $third_column    := index $organisers "third_column" }}
<section id="organisers" class="section section-feature-light-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-one-third" >
          {{- range $first_column }}
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>{{ .title }}</h4>
            </div>
            <div class="card-image">
                <!-- <img src=https://www.linkedin.com/in/peterhanssens/> -->
                <img src="{{ printf "/images/organisers/%s" .picture | relURL }}" style="border-radius: 100%">
            </div>
            <div class="card-text">
                <p>{{ .text }}</p>
            </div>
            <!-- <div class="card-action">
              <a href="{{ .url }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
            </div> -->
          </div>
          <br/>
         {{- end }}
        </div>
        <div class="column is-one-third" >
          {{- range $second_column  }}
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
              <div class="card-title">
                <h4>{{ .title }}</h4>
              </div>
              <div class="card-image">
                  <!-- <img src=https://www.linkedin.com/in/peterhanssens/> -->
                  <img src="{{ printf "/images/organisers/%s" .picture | relURL }}" style="border-radius: 100%">
              </div>
              <div class="card-text">
                  <p>{{ .text }}</p>
              </div>
            </div>
            <br/>
         {{- end }}
        </div>
        <div class="column is-one-third" >
            {{- range $third_column  }}
            <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
                <div class="card-title">
                  <h4>{{ .title }}</h4>
                </div>
                <div class="card-image">
                    <!-- <img src=https://www.linkedin.com/in/peterhanssens/> -->
                    <img src="{{ printf "/images/organisers/%s" .picture | relURL }}" style="border-radius: 100%">
                </div>
                <div class="card-text">
                    <p>{{ .text }}</p>
                </div>
              </div>
              <br/>
           {{- end }}
          </div>
      </div>
    </div>
  </div>
</section>