@import '~antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-layout-header {
  background-color: #fff
}

.ant-page-header {
  background-color: #f0f2f5;
}

.site-page-header-ghost-wrapper {
  background-color: #f0f2f5;
  padding-top: 24px;
  padding-left: 0px;
  padding-right: 0px;
}

.ant-layout-header {
  padding: 0px 50px;
}


.header-image {
  content:url("./../public/images/logos/dataeng/bytes_center.svg");
  padding-top: 0px;
}

.twitter {
  content:url("./../public/images/socials/twitter.svg");
  height: 24px;
}

.linkedin {
  content:url("./../public/images/socials/linkedin.svg");
  height: 24px;
}

.twitter-large {
  content:url("./../public/images/socials/twitter.svg");
  height: 48px;
}

.linkedin-large {
  content:url("./../public/images/socials/linkedin.svg");
  height: 48px;
}

.gmail-large {
  content:url("./../public/images/socials/gmail.svg");
  height: 48px;
}

.twitch-large {
  content:url("./../public/images/socials/twitch.svg");
  height: 48px;
}

.youtube-large {
  content:url("./../public/images/socials/youtube.svg");
  height: 48px;
}

/* .sponsor-image {
  background-position: 'center center';
  background-size:'contain';
  background-repeat: 'no-repeat';
  min-height: 300px;
  min-width: 300px;
} */

.ant-layout-content {
  padding: 0px 0px;
}

.ant-layout-footer {
  padding: 50px 40px;
}

.ant-list-item .ant-btn{
  border: 0px;
  background-color: transparent;
}

.ant-layout-footer .ant-btn{
  border: 0px;
  background-color: transparent;
}

/* Small (sm) */
@media (min-width: 640px) { 
  .header-image {
    content:url("./../public/images/logos/dataeng/bytes_banner.svg");
    padding-top: 10vh;
    width: 100%;
    max-width: 1200px;
  }
}

/* Medium (md) */
@media (min-width: 768px) {

}

/* Large (lg) */
@media (min-width: 1024px) {
  .site-page-header-ghost-wrapper {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {

}
