---

const navBar = [
    {
        name: 'Meetup',
        link: '/meetup',
        active: true
    },
    {
        name: 'Conference',
        link: '/conference',
        active: false
    },
    {
        name: 'Tickets',
        link: '/tickets',
        active: false
    },
    {
        name: 'Sponsors',
        link: '/sponsors',
        active: false
    },
    {
        name: 'Contact Us',
        link: '/contact',
        active: false
    }
]
---
<nav class="shadow">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 justify-between">
        <div class="flex">
          <div class="flex flex-shrink-0 items-center">
            <img class="block h-8 w-auto lg:hidden" src="DataEngBytes.Circle2022.150ppi.png" alt="Your Company">
            <img class="hidden h-8 w-auto lg:block" src="DataEngBytes.Circle2022.150ppi.png" alt="Your Company">
          </div>
          <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
            <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
            {
              navBar.map((navItem) =>{
                return <a href={navItem.link} class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                  {navItem.name}</a>
              })
            }
          </div>
        </div>
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 pb-3 pt-2">
        {
          navBar.map((navItem) =>{
            <a href={navItem.link} class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">
              {navItem.name}</a>
          })
        }
      </div>
    </div>
  </nav>
  