---
import Container from '../container.astro';
import { Image, Picture } from '@astrojs/image/components';
import sponsor_banner from '../../../public/banners/sponsors_banner.webp'

<Container>
  <div>
    <Image src={sponsor_banner} alt=""  />
  </div>
</Container>
