---
import Container from '../container.astro';
import Info from './info.astro';
import Recognition from './recognition.astro';
import Showcase from './showcase.astro';
---

<Container>
    <div class="mx-auto">

        <img src="./banners/sponsors_banner.png" alt="" class="w-full flex">
  </div>
</Container>
